<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Post:</strong>
  <%= @article.post %>
</p>

<p>
  <strong>User:</strong>
  <%= @article.user_id %>
</p>

<% if @article.comments.empty? %>
  <h4>There are no comments</h4>
<% else %>
  <h4>Comments</h4>
  <% @article.comments.each do |comment| %>
    <p>
      <strong><%= comment.commenter %>: </strong>
      <%= comment.body %>
    </p>
  <% end %>
<% end %>

<h4>Add a Comment:</h4>

<%= form_for([@article, @article.comments.build]) do |f| %>
  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
